.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.dataPoint circle,
.newPoint circle {
  fill: steelblue;
}

.timerContainer {
	width: 200px;
	float: left;
}

.timerContainer .timeWrapper {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	height: 100%;
}

#timeMain {
	font-size: 40px;
	font-family: monospace;
	color: rgb(184, 53, 53);
	float: left;
	height: 100%;
}

#timeMilisContainer {
	float: left;
	height: 100%;
}

#timeMilis {
	font-size: 20px;
	font-family: monospace;
	color: rgb(184, 53, 53);
	margin-top: 13px;
}

.chart {
	float: left;
}

#startStop {
	float: left;
	width: 100px;
	height: 30px;
	font-family: monospace;
	background-color: rgb(38, 77, 86);
	color: white;
	text-align: center;
}

#startStop:hover{
	background-color: rgb(140, 30, 99);
}
